*{
    font-family: poppins;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   color: black;
    width: 68%

}
.wrapper{
    padding: 10px 0;
}
#card-area{
    padding: 50px 0;
}
.box{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5s);
    right: -470px;
    bottom: -50px;
    
}
.box img{
    /* width: 100%; */
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;

}
.overlay{
    height: 0;
    width: 39.7%;
    background: linear-gradient(transparent, #b45ba0 100%);
    border-radius: 0px;
    position: absolute;
    left: 4.5%;
    bottom: 48px;
   overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.overlay p{
    font-weight: 500;
    margin-bottom:350px;
    margin-top: 80%;
    font-family: bebas neue;
    font-size: 20px;
    letter-spacing: 2px;
    
    

}
.overlay a{
    position: absolute;
    color: #262626;
    text-decoration: none;
    font: 14px;
    background: #fff;
    border-radius: 50px;
    left: 160px;
    padding: 5px 15px;
    top: 60%;
   
    
}
.boxLhover img{
    transform: scale(1.2);
}
.box:hover .overlay{
    height: 50%;
}
