///* play-game.css */
/* Blue glowing background with semi-transparent image */
body {
    background: radial-gradient(circle, rgba(11, 11, 238, 0.3) 0%, rgba(30, 12, 219, 0.6) 100%),
                url('loop-futuristic-neon-grid-line-background-free-video.jpeg') center/cover;
    animation: glowAnimation 5s ease-in-out infinite alternate;
    font-family: 'Arial', sans-serif;
    color: #fff;
    text-align: center;
}
@keyframes glowAnimation {
    10% {
        box-shadow: 0 0 10px 5px rgba(255, 0, 187, 0.902);
    }
    100% {
        box-shadow: 0 0 20px 10px rgba(10, 220, 227, 0.7);
    }
}
/* Logo */
.logo-game-page img {
    width: 150px; /* Adjusting the size */
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000; /* Ensure the logo is above other elements */
    filter: drop-shadow(0 0 10px #CA8D8D); /* Neon glow effect */
}
/* Progress bar */
.progress-bar {
    background-color: rgba(132, 9, 137, 0.3);
    padding: 10px;
    margin: 20px auto;
    max-width: 600px;
    border-radius: 10px;
}
/* Question styles */
.api-question {
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
    background-color: rgba(255, 0, 255, 0.5); /* Neon purple background */
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large; /* Adjust the font size as needed */
    color: #EADF10; /* White text color */
    text-shadow: 0 0 10px #FF00FF, 0 0 20px #FF00FF, 0 0 30px #FF00FF, 0 0 40px #FF00FF, 0 0 50px #FF00FF, 0 0 60px #FF00FF, 0 0 70px #FF00FF; /* Neon glow effect */
}
button {
    background-color: rgb(241, 14, 143);
    margin: 2px auto;
    max-width: 600px;
    padding: 20px;
    background-color: rgba(30, 201, 201, 0.5); /* Neon cyan background */
    border-radius: 10px;
    font-size: 80%; /* Adjusting the font size */
    color: #DF1286; /* White text color */
    text-shadow: 0 0 10px #0BC5E6, 0 0 20px #00FFFF, 0 0 30px #00FFFF, 0 0 40px #00FFFF, 0 0 50px #00FFFF, 0 0 60px #00FFFF, 0 0 70px #00FFFF; /* Neon glow effect */
}
/* Score count */
.score-count {
    background-color: #FF4081; /* Pink button color */
    color: rgb(31, 46, 209);
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 20px;
    display: inline-block;
    margin-top: 10px;
    box-shadow: 0 0 20px #FF4081; /* Neon glow effect */
}
/* Study group logo */
.study-grup-logo img {
    width: 150px;
    margin-bottom: 10px;
    filter: drop-shadow(0 0 10px #fff); /* Neon glow effect */
}
/* the quizz is in a box with the code below */
* {
    box-sizing: border-box;
}